html, body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to separate it from the content */
}

.navbar .logo {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px; /* Adjust the height of the logo image */
    margin-right: 10px;
}

.navbar .logo:hover {
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}









.slideshow-container {

    height: 300px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slideshowimages{
    height: 300px;
}

img {
    vertical-align: middle;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}






.content {
    text-align: center;
}








.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

.social-media {
    margin: 10px 0;
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
    color: white;
    font-size: 24px; /* Adjust size of the icons */
    text-decoration: none;
}

.social-icon:hover {
    color: #ddd; /* Change color on hover */
}

.contact-link {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline;
}
